<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<h2>Social, Markdown Wikis</h2>
	  <p>
	    <%= link_to "Sign Up", welcome_about_path, class: 'btn btn-primary' %>
	    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
	  </p>
	</div>
